body {
  background-color: #ffffff;
}
.navbar {
  background-color: #89BADD;
}
.jumbotron {
  background-color: #e3f2fd !important;
  text-align: center;
  }
.img-circle {
  border-radius: 50%;
  width:100px;height:100px;
  }
