body {
  background-color: #ffffff;
}
.navbar {
  background-color: #89BADD;
}
.jumbotron {
  background-color: #e3f2fd !important;
  text-align: center;
  }
.img-circle {
  border-radius: 50%;
  width:100px;height:100px;
  }
.social-box a {
  color: #000000;
}
.fa-linkedin-square:hover {
  color: #0077B5;
}
.fa-youtube-square:hover {
  color: #cc181e;
}
.fa-twitter-square:hover {
  color: #00aced;
}
.fa-github-square:hover {
  color: #6e5494;
}
.fa-cube:hover{
  color: #0db7ed;
}
